@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 700;
	src: url('../font/Comfortaa-Bold.otf');
}

@font-face {
	font-family: 'SF Pro';
	font-style: normal;
	font-weight: 400;
	src: url('../font/SF-Pro-Display-Regular.otf');
}

@font-face {
	font-family: 'SF Pro';
	font-style: normal;
	font-weight: 500;
	src: url('../font/SF-Pro-Display-Medium.otf');
}